body{
    margin: 0;
    text-align: center;
    background-image:url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    font-size: 40px;
    color: wheat;
    padding-top: 20%;
    font-family: 'Raleway', sans-serif;
}
#icon{
  position: relative;
  margin: 2rem 80rem 0 0;
}#name{
    font-family: 'Tangerine', cursive;

}
    