body{
    margin: 0;
        
}
.container{
    height: 100%;
    width: 100%;
    background-image:url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
/* .email{
    font-size: 20px;
    color: wheat;
    margin-top: 50%;
    font-family: 'Raleway', sans-serif;
} */
.intro {
    font-size: 40px;
    color: wheat;
    padding-top: 20%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
#icon{
    /* position: absolute; */
    width: 50px;
    margin: 40px 0 0 40px;
    display: inline;
}#name{
    font-family: 'Tangerine', cursive;
    color: #f05d23;

}

    